<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付测试</title>
</head>
<body>
<script src="/static/js/jquery-1.11.3.js"></script>
<button id="Btn_pay">点击支付</button>
<script>
    //点击摁钮触发 ajax post请求 {'order_id':202004181607123}
    var post_data = {"order_id": "202004181607123" };

    $(function(){
        $("#Btn_pay").click(function(){

            $.ajax({
                url:"http://127.0.0.1:8000/payment/jump",
                type: 'post',
                contentType: "application/json",
                dataType:"json",
                data: JSON.stringify(post_data),
                success: function (data) {
                    //console.log(data.pay_url)
                    window.location = data.pay_url
                }
            })
        })
    })
</script>






</body>
</html>