<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <button id="btn">获取数据</button>
    <table>
        <thead>
            <th>
                <td>id</td>
                <td>count</td>
                <td>name</td>
                <td>default_image_url</td>
                <!-- ￥99 -->
                <td>price</td> 
                <!-- input type=checkbox 复选框 选中 -->
                <td>selected</td>
            </th>
        </thead>
        <tbody>
            <!-- 显示内容 -->
        </tbody>
    </table>
    <script>
        //当按钮被点击时  向/data_server发送get请求
        //将响应的结果  json串 解析 放入页面的tbody中
    </script>
</body>
</html>